
form{
    width: 100vw;
    height: 90vh;

    .fields{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        > div{
            display: flex;
            flex-direction: column;
            position: relative;
            margin-block: 20px;
            width: 100%;

            input{
                width: calc(45vw * 0.8);
                line-height: 1.5;
                padding: 10px;
                outline: none;
                border-radius: 10px;
                font-size: 18px;
                border: none;
                border: 1px solid var(--cor-base);
                box-shadow: 5px 4px 3px rgba($color: #000000, $alpha: 0.2);

                @media screen and (max-width:1500px) {
                    width: 100%;
                }

                &:valid,&:focus{
                    ~ label{
                        position: absolute;
                        top: -5px;
                        color: rgb(0, 140, 195);
                        padding-inline: 5px;
                        font-weight: bold;
                        background-color: none;
                    }
                }
            }

            label {
                position: absolute;
                transition: 0.4s;
                color: rgb(123, 123, 123);
                background-color: white;
                transform: translate(-50%,-50%);
                left: 9% !important;
            }

            p.message_error{
                position: absolute;
                top: 105%;
                color: red;
                font-weight: bold;
            }
        }

        button{
            padding-inline: 20px;
            padding-block: 10px;
            color: white;
            font-weight: bold;
            background-color: var(--cor-base);
            border: none;
            border-radius: 8px;
            width: 100%;
            cursor: pointer;
        }

        .redirects{
            display: flex;
            width: 100%;
            justify-content: space-between;
            flex-direction: row;

            a{
                color: var(--cor-base);
                font-weight: bold;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}
